/target
/out
/.idea
*.iml
/telegram-bot/src/main/resources/secret.properties
/notification-service/src/main/resources/secret.properties
/discovery-server/src/main/resources/secret.properties
common/target