/target
/out
/.idea
*.iml
common/target
/HELP.md
/telegram-bot/src/main/resources/telegram-bot-secret.properties
/notification-service/src/main/resources/notification-service-secret.properties
/discovery-server/src/main/resources/discovery-server-secret.properties
/TODO.md
/notification-bot/src/main/resources/bot-secret.properties
/notification-discovery-server/src/main/resources/discovery-server-secret.properties
/notification-gateway/src/main/resources/gateway-secret.properties